#Visual Code studio
.vscode/**
*-workspace

#################################################
#
# IPs
#
#################################################
ips/fir/hw/fir*/**
ips/memcpy/hw/memcpy*/**
ips/mat_mult/hw/mat_mult*/**
ips/mul_vec/hw/mul_vec*/**
ips/sum_vec/hw/sum_vec*/**
ips/sub_vec/hw/sub_vec*/**
ips/nor_vec/hw/nor_vec*/**
ips/xor_vec/hw/xor_vec*/**
ips/crc/hw/crc*/**
ips/prem*/hw/prem*/**
ips/gmap/hw/gmap*/**
ips/fastx/hw/fastx*/**
ips/sobel/hw/sobel*/**

#################################################
#
# Static part
#
#################################################
**/hw/ips
**/vivado
*.rpt

#################################################
#
# Vivado stuff
#
#################################################

.Xil/**
**/NA
*.log
*.jou


#################################################
#
#  C++ RELATED DEFINITIONS
#
#################################################

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
